  <div class="col-md-8">
    <h2>Acerca de este sitio</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci
      aperiam dignissimos eos hic inventore? Commodi consectetur laboriosam,
      molestias odit officia perspiciatis ratione saepe vitae.</p>
    <p>Eaque laborum libero quas totam vitae? Accusantium, ad commodi cum,
      dolorem et exercitationem hic itaque laboriosam modi nulla omnis pariatur
      placeat quae reprehenderit tempore.</p>
    <p>Amet debitis laudantium nemo sint totam. Aspernatur, consectetur dolores
      et explicabo facere facilis hic in incidunt minima porro, quaerat quidem,
      sint vitae voluptate voluptates!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi
      consequuntur ducimus eius quia quo unde vero! Est eveniet ipsam iusto
      mollitia neque omnis quibusdam quis rem sapiente voluptatem! Aut, rem.</p>
    <p>Ab aspernatur blanditiis dolore doloribus, ipsam laboriosam maxime nam
      nulla officiis omnis perferendis, placeat praesentium quam repellendus
      similique sint voluptas voluptate. At deleniti dolorum eum hic id minima
      praesentium saepe.</p>
    <p>Distinctio dolore magni molestias nulla. Dolorem eum ipsum perferendis
      quaerat quam quos recusandae temporibus totam. Amet architecto culpa
      cupiditate dolor ipsam nam odit placeat possimus, quo reprehenderit
      repudiandae, sint ullam?</p>
    <p>Animi at ea error expedita itaque maiores minus, praesentium provident
      qui, sed sit velit voluptas, voluptatem. Aspernatur commodi exercitationem
      id mollitia nostrum obcaecati odio possimus quas, soluta temporibus
      voluptate voluptatibus.</p>
  </div>
  <div class="col-md-4">
    <img src="http://www.ucb.edu.bo/Enlaces/multimedia/logotipos/logo_ucb_grande.gif" [style.width.px]="200" alt="">
  </div>
